<% layout("/layouts/boilerplate") %>
<head>
    <title>Touristic -All Listings</title>
</head>
<body>
    <div class="container">
        <%=success%>
        <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-md-3">
            <%  for(let listing of allListings){ %>
            <a href="/listings/<%=listing.id%>" class="listing-link">
                <div class="card listing-card col-xxs-1 col-xs-1" >
                    <img src="data:image/<%=listing.image.contentType%>;base64,<%=listing.image.data.toString('base64')%>" class="card-img-top" alt="Image of <%= listing.title %>" style="height:18rem">
                    <div class="card-img-overlay card-effect"></div>
                    <div class="card-body">
                    <p class="card-text">
                        <b><%= listing.title %></b><br/>
                        <small class="text-muted">
                            Approx. Price: <%= listing.price.toLocaleString("en-IN",{ style: 'currency', currency: 'INR' }) %>/Day<br/>
                            Location: <%= listing.location %>
                        </small><br/>
                    </p>
                    
                    <button class="button btn btn-dark">View Details </button>

                    </div>
                </div>
            </a>
            <% } %>
        </div>
    </div>
</body>
