<% layout("/layouts/boilerplate") %>
<head>
    <title><%= listing.title %></title>
</head>
<body>
  <div class="show-card mb-4">
    <div class="show-title"><%= listing.title.toUpperCase() %></div>
  </div>
  <div class="card listing-card mb-3 col-8 offset-2">
    <div class="card-body">
        <p class="card-text"><%= listing.description%> </p>
        <p class="card-text">
            <small class="text-muted"> <span class="tag"><%= listing.destType %></span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tag">Location: <%= listing.location %></span>&nbsp;&nbsp;&nbsp;&nbsp;</small>
        </p><br/>
        <p class="card-text"><i>Posted by: <%= listing.owner.username%> </i></p>
    </div>
    <img src="<%= listing.imageUrl %>" class="card-img-top" alt="Image of <%= listing.title %>">
    <div class="card-body">
      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      <p>Approx. Price: <%= listing.price.toLocaleString("en-IN",{ style: 'currency', currency: 'INR' }) %> / day</p>
      <p>Category: <%= listing.category %></p>
      <p>Location: <%= listing.location %></p>
      <p>Country: <%= listing.country %></p>
      <% if(currUser && currUser._id.equals(listing.owner._id)){ %>
      <div class="btns">
        <a href="/listings/<%= listing._id %>/edit" class="button btn">Edit Your Listing</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
            <button class="btn btn-danger">Delete Your Listing</button>
        </form>
      </div>
      <% } %>
    </div>
  </div>
  <div class="card listing-card card-body mb-3 pt-4 col-8 offset-2">
    <form method="post" action="/listings/<%=listing._id%>/reviews/" novalidate class="needs-validation">
      <h4>Leave a Review</h4><hr/>
      <div class="mb-4 col-6">
        <label for="rating"  class="form-label">Rating</label>
        <input type="range" id="rating" name="review[rating]" min="1" max="5" class="form-range"  />
      </div>
      <div class="mb-4">
        <label for="comment" class="form-label">Comment</label>
        <textarea name="review[comment]" id="comment" rows="3" placeholder="Tell us your Experience" class="form-control" required></textarea>
        <div class="invalid-feedback">Please add a comment</div>
      </div>
      <button class="button btn btn-outline-primary">Submit</button>
    </form>
    
  </div>
 
  <div class="row col-8 mt-5 mb-3 offset-2">
    <h4>All Reviews</h4>
    <hr/>
    <% for(let review of listing["reviews"]){ %>
      <div class="card col-5 mb-3 mt-3 ms-3">
        <div class="card-body">
          <h5 class="card-title"><%= review.author.username %></h5>
          <p class="card-text"><%=review.comment%></p>
          <small class="text-muted"><p class="card-text"><%=review.rating%> stars</p></small>
          <% if(currUser && currUser._id.equals(review.author._id)){ %>
          <form method="post" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
            <button class="btn mt-3 btn-danger">Delete</button>
          </form>
          <%}%>
        </div>
      </div>
    <%}%>

  </div>
</body>
