<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= listing.title %></title>
</head>
<body>
    <h1><%= listing.title %></h1>
    <h1><%= listing.title %></h1>
    <p><%= listing.description %></p>
    
    <!-- Display the image 
    <img src="<%= listing.image.data %>" alt="<%= listing.title %>" />-->
    
    <img src="<%= listing.imageUrl %>" />
    
        <p>Price: <%= listing.price.toLocaleString("en-IN",{ style: 'currency', currency: 'INR' }) %></p>
    <p>Location: <%= listing.location %></p>
    <p>Country: <%= listing.country %></p>

    <a href="/listings/<%= listing._id %>/edit">Edit Your Listing</a><br/><br/><br/>

    <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
        <button>Delete Listing</button>
    </form>
</body>
</html>